.error {
	padding: 120px 0;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 56px;
	}
	&__img {
		min-width: 560px;
	}
	&__info {
		max-width: 520px;
		width: 100%;
	}
	&__text {
		margin-bottom: 60px;
		max-width: 470px;
	}
	&__title {
		margin-top: 150px;
		margin-bottom: 30px;
		color: #28384f;
		font-size: 48px;
		@extend %roboto-700;
	}
	&__btn {
		padding: 19px 34px;
		background-color: $accent-color;
		color: #fff;
		@extend %roboto-400;
		box-shadow: 0px 5px 25px 0px rgba(254, 62, 87, 0.35);
	}
}

.header--404-page {
	background-color: #f6f6f6;
}
